prefix = "${prefix}"
aws_region = "${aws_region}"

vpc0 = "${vpc0}"
vpc0_subnet_ids = ${vpc0_subnet_ids}
vpc0_external_rt = "${vpc0_external_rt}"

vpc1 = "${vpc1}"
vpc1_subnet_ids = ${vpc1_subnet_ids}
vpc1_internal_rt = "${vpc1_internal_rt}"
vpc1_internal2_rt = "${vpc1_internal2_rt}"

vpc2 = "${vpc2}"
vpc2_subnet_ids = ${vpc2_subnet_ids}
vpc2_external_rt = "${vpc2_external_rt}"

bigip1 = "${bigip1}"
bigip1_self = "${bigip1_self}"
bigip2_self = "${bigip2_self}"
bigip_float = "${bigip_float}"
bigip_username = "admin"
fw_ips = "${fw_ips}"

# uncomment / unescape to use
# bigip3_self = "{bigip3_self}"
# bigip4_self = "{bigip4_self}"